<!DOCTYPE html>
<html class="h-100" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Welcome to Ludo game</title>
        <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body class="h-100">

        <!--*******************
            Preloader start
        ********************-->
        <div id="preloader">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
        <!--*******************
            Preloader end
        ********************-->

        <div class="login-form-bg h-100">
            <div class="container h-100">
                <div class="row justify-content-center h-100">
                    <div class="col-xl-6">
                        <div class="form-input-content">
                            <div class="card login-form mb-0">
                                <div class="card-body pt-5">
                                    <a class="text-center" href="index.html"> <h4>New Game</h4></a>
                                    <form class="mt-5 mb-5 login-input">
    									<!-- Number of Player-->
                                        <div class="form-group">
                                        	<div class="button-group">
    											<div style="float:left;margin-top:8px;"><p>Number of Player:</p></div>
    											<div class="btn-group " style="padding-left:4%;">
    												<button type="button" class="btn btn-primary" style="margin-right:3%;">2</button>
    												<button type="button" class="btn btn-primary" style="margin-right:3%;">3</button>
    												<button type="button" class="btn btn-primary" >4</button>
    											</div>
											</div>
                                        </div>
    									<!-- Public/Private Game-->
    									<div class="form-group">
        									<div style="float:left;margin-top:8px;"><p>Game Type:</p></div>
        									<div class="btn-group" style="padding-left:4%;">
                                                <button type="button" class="btn btn-primary">Public</button>
                                                <button type="button" class="btn btn-primary">Private</button>
                                            </div>
    									</div>
    									<!-- Wait Time-->
    									 <div class="form-group">
                                        	<div class="button-group">
    											<div style="float:left;margin-top:8px"><p>Wait Time:</p></div>
    											<button type="button" class="btn btn-primary">Private</button>
											</div>
                                        </div>
    									<!-- Invitation URL-->
    									 <div class="form-group">
                                        	<div class="button-group">
    											<div style="float:left;margin-top:8px"><p>Invite Friends:</p></div>
    											<div class="text-primary" style="float:left;margin-top:6px;padding-left:0.5%;"><input type="text" value="URL" readonly id="Copyurl"></div>
    											<button type="button" class="btn btn-primary" style="margin-left:0.5%;" onclick="copy()">Copy</button>
											</div>
                                        </div>
                                        <button class="btn login-form__btn submit w-100">Play</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    	<script>
            function copy() {
                var copyText = document.getElementById("Copyurl");
                copyText.select();
                document.execCommand("copy");
                alert("Copied the text: " + copyText.value);
            }
        </script>
        <script src="plugins/common/common.min.js"></script>
        <script src="js/custom.min.js"></script>
        <script src="js/settings.js"></script>
        <script src="js/gleek.js"></script>
        <script src="js/styleSwitcher.js"></script>
    </body>
</html>
