<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>How to play</title>
        <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
        </script>
        <script>
            $(function(){
                $("#header").load("header.html");
            });
        </script>
        <link rel="stylesheet" href="css/rules.css">
    </head>
    <body>
        <main>
            <div id="header"></div>
            <section id="rules" class="section">
                <header>
                    Rules
                </header>
                <ul>
                    <li>2 to 4 players begin by throwing the die. Players take turns in clockwise order; highest throw of the die will start.</li>
                    <li>Each player needs to throw the die and he/she must roll a six in order to move a piece out of the base and onto the starting sequence. Now, that piece is then in play and it can be moved according to the rolling of die.</li>
                    <li>If a six is rolled, the player can choose to either move a piece out of his base onto the starting square or move a piece that is in play. </li>
                    <li>Anytime a six is rolled, a player gets chance to roll the die again.</li>
                    <li>If a player rolls a six for three times in a row, then he loses his turn and next player gets his turn.</li>
                    <li>While moving piece, if a player’s piece lands on an opponent’s piece, the opponent’s piece is sent back to its base where he must roll six again in order to move out from base to starting sequence.</li>
                    <li>If a player lands on a place occupied by one of his own pieces, that space becomes blocked. </li>
                    <li>A blocked space cannot be passed or landed on by an opponent’s piece. </li>
                    <li>When a player’s piece reached to the home column of its own color then it continues to move towards its home triangle. It can reach to the home triangle only with an exact roll of the die. </li>
                    <li>In order to win the game, a first player needs to have his all four pieces inside home triangle. The remaining players will continue the game to determine the runner-ups</li>
                </ul>
            </section>
            <section id="demo" class="section">
                <header>
                    Demo
                </header>
                <div class="demotiles">
                    <div class="tile">
                        <video width="45%" controls class="video">
                            <source src="video/hello.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <article class="description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </article>
                    </div>
                    <div class="tile">
                        <video width="45%" controls class="video">
                            <source src="video/hello.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <article class="description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </article>
                    </div>
                    <div class="tile">
                        <video width="45%" controls class="video">
                            <source src="video/hello.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <article class="description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </article>
                    </div>
                    <div class="tile">
                        <video width="45%" controls class="video">
                            <source src="video/hello.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <article class="description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </article>
                    </div>
                    <div class="tile">
                        <video width="45%" controls class="video">
                            <source src="video/hello.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <article class="description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </article>
                    </div>
                    <div class="tile">
                        <video width="45%" controls class="video">
                            <source src="video/hello.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <article class="description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </article>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
