.globalChat {
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 5px !important;
}

#change_username {
  border: 1px outset #4CAF50;
}

#change_username {
  display: flex;
  height: 3%;
  background-color: #BCA9F5;
}

section#chatroom {
  border: 1px inset black;
  height: 30vh;
  overflow: auto;
}

section#input_zone {
  height: 7%;
  display: flex;
  text-align: center;
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input#username {
  font-family: 'Comfortaa', sans-serif;
  flex: 3;
}

input#message {
  flex: 4;
  width: 88%;
  font-family: 'Comfortaa', sans-serif;
  font-size: 2vh;
  border: 1px solid;
}

button#send_message {
  flex: 1;
  width: 10%;
  border: 1px solid;
}

#send_username {
  flex: 2;
}

p.message {
  margin: 0px;
  width: 100%;
  height: 40px;
  font-size: 2vh;
  font-family: 'Comfortaa', sans-serif;
  padding: 1vh;
}

.message:nth-child(even) {
  background-color: #ccdee2;
}

.message:nth-child(odd) {
  background-color: #e3e4e6;
}

