@import url(http://fonts.googleapis.com/css?family=Raleway);

main {
    font-family: 'Raleway' !important;
}

section > header {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    background-color: #546e7a;
    color: #ffffff;
    padding: 1%;
}

#rule {
    border-radius: 5px;
    box-shadow: 2px 2px 10px #bfbfbf;
    background-color: #ffffff;
}
.section {
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

li {
    padding: 1%;
    margin-left: 3%;
    list-style-type: circle !important;
}

.video {
    float: left;
    border-radius: 10px;
}

.description {
    float:right;
    width: 52%;
    padding: 1%;
}

.tile{
    overflow: auto;
    border-radius: 5px ;
    box-shadow: 2px 2px 10px #bfbfbf;
    padding: 2%;
    margin: 2%;
    background-color: #ffffff;
}
